@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $clash-display;
  font-size: $font-body;
  font-weight: $font-regular;
  background-color: $secondary-050;
  color: $neutral-800;
  overflow-x: hidden;

  p {
    text-align: justify;
  }

  ul {
    padding-left: 3rem;
  }

  main {
    overflow-x: hidden;
    width: 100vw;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media (max-width: 900px) {
  body {
    main {
      margin-top: 56px;
    }
    section {
      width: 90% !important;
      margin: 0 auto 4% auto;
    }
    section.about-content {
      padding: 0 !important;
    }
    ul,span,p {
      text-align: justify;
    }
    ul {
      padding-left: 1rem;
    }
  }
}

button {
  font-family: $clash-display;
}
